* {
    font-family: "Big Shoulders", sans-serif;
  }
  
  #home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    text-align: center;
    padding-top: 10px;
  }
  
  .break {
    height: 300px;
  }
  
  img {
    width: 200px;
    height: auto;
  }
  
  h1 {
    font-size: 3em;
    text-align: center;
    top: 0;
    margin-top: 10px;
  }
  
  h2 {
    animation: bounce 1s infinite alternate;
  }
  
  h3 {
    font-size: 24px;
    text-decoration: underline;
  }
  
  .game-details-container {
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-controls-container {
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  
  p {
    font-size: 16px;
    width: auto;
    text-align: center;
  }
  
  strong {
    font-size: 16px;
    width: auto;
    text-align: center;
    text-wrap: wrap;
  }
  
  .btn:active {
    background: lightgray;
  }
  
  #text-box {
    display: inline-block;
    border-radius: 20px;
    padding-left: 20px;
    width: 175px;
    height: 75px;
    bottom: 10px;
  }
  
  #text-box::placeholder {
    font-size: 24px;
  }
  
  @keyframes typing {
    to {
      width: 100%;
    }
  }
  
  #player-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    height: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
  }
  
  #player-list li {
    width: 80%;
    height: 70px;
    margin: 0;
    padding: 5px 8px;
    text-align: center;
    font-size: 1em;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
  }
  
  /* Customize scrollbar */
  #player-list::-webkit-scrollbar {
    width: 8px;
  }
  
  #player-list::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
  }
  
  #player-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  #player-list::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  
  .btn {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }
  
  .baseball-banner {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .baseball {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    animation: flyBaseball 5s linear infinite;
    opacity: 0;
    animation: flyBaseball 5s linear infinite, fadeIn 0.1s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  @keyframes flyBaseball {
    0% {
      left: -50px;
      transform: rotate(0deg);
    }
  
    100% {
      left: 100vw;
      transform: rotate(720deg);
    }
  }
  
  /* Adjustments for smaller screens */
  @media only screen and (max-width: 520px) {
    p {
      margin: 25px;
      text-align: center;
      font-size: 28px;
    }
  
    .btn {
      margin-bottom: 50px;
      display: inline-block;
      font-size: 24px;
      margin: 10px;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .btn {
      display: inline-block;
      font-size: 12px;
      margin: 10px;
    }
  
    #text-box {
      height: 75%;
    }
  }