<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/assets/img/favicon.png" type="image/png"> <!-- Correct path to favicon -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/gamePageBundle.js"></script>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/lobby.css">
</head>

<body id="content">

</body>

</html>